<table>
  <tbody>
    <tr>
      <td>Kode Barang</td>
      <td>
        <input
          type="text"
          v-model="form.kode"
          id="kode"
          :disabled="isEdit"
          required
        />
      </td>
    </tr>

    <tr>
      <td>Nama Barang</td>
      <td>
        <input type="text" v-model="form.nama" id="nama" required />
      </td>
    </tr>

    <tr>
      <td>Deskripsi</td>
      <td>
        <input type="text" v-model="form.deskripsi" id="deskripsi" required />
      </td>
    </tr>
  </tbody>
</table>
